*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

/* Contenitore pagina */
.container{
    max-width: 1280px;
    margin: auto;
}

.header{
    height: 100px;
    margin-bottom: 20px;
}

.pink{
    background-color: #e579e6;
}

.container-big{
    height: 500px;
    margin-bottom: 20px;
}

.sand{
    background-color: #e1d67a;
}

.container-small{
    height: 80px;
}

.lightblue{
    background-color: #abcfe7;
}

.container-father{
    height: 500px;
    margin-bottom: 10px;
}

.blue{
    background-color: #0185ff;
}

/* Clearfix */
.container-father::after{
    content: "";
    display: table;
    clear: both;
}

.left-col{
    float: left;
    width: 20%;
    height: 450px;
    margin-top: 25px;
    
}

.middle-col{
    float: left;
    width: calc(60% - 40px);
    height: 450px;
    margin-top: 25px;
    margin-left: 20px;
    
}

.right-col{
    float: left;
    width: 20%;
    height: 450px;
    margin-top: 25px;
    margin-left: 20px;
}

.footer{
    height: 60px;
}

.purple{
    background-color: #8801fe;
}