*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.container{
    max-width: 1280px;
    margin: auto;
}

.header{
    height: 100px;
    margin-bottom: 20px;
}

.pink{
    background-color: palevioletred;
}

.container-big{
    height: 500px;
    margin-bottom: 20px;
}

.sand{
    background-color: sandybrown;
}

.container-small{
    height: 80px;
}

.lightblue{
    background-color: lightblue;
}

.container-father{
    height: 500px;
}

.blue{
    background-color: blue;
}

/* Clearfix */
.container-father::after{
    content: "";
    display: table;
    clear: both;
}

.left-col{
    float: left;
    width: 20%;
    height: 450px;
    margin-top: 25px;
    
}